@model Employee;

@{
    ViewData["Title"] = "Create";
}

<div >
    <form action="#" method="post" enctype="multipart/form-data">
        Name:<br/>
        <input type="text" class="form-control" name="Name" /><br/>
        Email:<br/>
        <input type="email" class="form-control" name="email" /><br/>
        Phone:<br/>
        <input type="number" class="form-control" name="Phone" /><br/>
        Address:<br /><textarea rows="4" cols="12" name="Address" class="form-control">Address</textarea><br/>
        Image:<br />
        <input type="file" class="form-control" name="Image" /><br/>
        <input type="submit" class=" btn btn-success" value="Record Save" />&nbsp; &nbsp;&nbsp;
        <input type="reset" class=" btn btn-danger" value="Clear" />


        </form>
</div>